{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRA - Cadastro de Aluno</title>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">

        <div class="left-side">

            <header>
                <div class="back-button"> <a href="{% url 'dashboard' %}"><img src="{% static 'img/left_arrow.png' %}"> </a> </div>
            </header>

            <div class="login-box">

                <h2>Cadastrar Aluno</h2>

                {% if messages %}

                    {% for message in messages %}

                        <p style="color:green;">

                            {{ message }}

                        </p>

                    {% endfor %}

                {% endif %}

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input
                        type="text"
                        name="matricula"
                        placeholder="MATRÍCULA DO CURSO"
                        required
                    >

                   <input
                        type="text"
                        name="nome"
                        placeholder="PRIMEIRO NOME"
                        required
                    >
                    <input
                        type="text"
                        name="sobrenome"
                        placeholder="SOBRENOME"
                        required
                    >
                    <input
                        type="email"
                        name="email"
                        placeholder="EMAIL INSTITUCIONAL"
                        required
                    >

                    <label>Foto do aluno</label>

                    <button 
                    type="button"
                    style="margin-bottom: 20px;"
                    >
                        Capturar Fotos
                    </button>

                    <button type="submit">
                        Confirmar
                    </button>

                   

                </form>

            </div>

        </div>

        <div class="right-side">

            <img
                src="{% static 'img/estudante.png' %}"
                alt="Estudante"
            >

        </div>

    </div>

</body>
</html>