{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>

<meta charset="UTF-8">

<title>Reconhecimento Facial</title>

</head>

<body>

<h2>Reconhecimento Facial</h2>

<video
    id="camera"
    width="640"
    height="480"
    autoplay
></video>

<canvas
    id="canvas"
    width="640"
    height="480"
    style="display:none"
></canvas>

<p id="resultado"></p>

<script>

const video = document.getElementById("camera");

navigator.mediaDevices
.getUserMedia({video:true})
.then(stream=>{

    video.srcObject = stream;

});

const canvas = document.getElementById("canvas");

setInterval(()=>{

    const ctx = canvas.getContext("2d");

    ctx.drawImage(video,0,0);

    const imagem = canvas.toDataURL("image/jpeg");

    fetch("/reconhecer/",{

        method:"POST",

        headers:{

            "Content-Type":"application/json",

            "X-CSRFToken":"{{ csrf_token }}"

        },

        body:JSON.stringify({

            imagem:imagem

        })

    })

    .then(r=>r.json())

    .then(d=>{

        document.getElementById("resultado").innerHTML=d.nome;

    });

},1000);

</script>

</body>

</html>