{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRA - Login</title>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">

        <div class="left-side">

            <header>
                <h1>SIRA</h1>

                <nav>
                    <a href="#">HOME</a>
                    <a href="#">ABOUT US</a>
                    <a href="#">CONTACT</a>
                    <a href="#" class="active">LOG IN</a>
                </nav>
            </header>

            <div class="login-box">

                <h2>Log in</h2>
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:red;">
                            {{ message }}
                        </p>
                    {% endfor %}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    <input
                        type="text"
                        name="username"
                        placeholder="Usuário"
                        required
                    >

                    <input
                        type="password"
                        name="password"
                        placeholder="Senha"
                        required
                    >

                    <div class="options">

                      

                        <a href="{% url 'cadastro_about' %}">
                            ESQUECEU A SENHA?
                        </a>

                    </div>

                    <button type="submit">
                        Log in
                    </button>

                    <p>
                        ou
                        <a href="{% url 'cadastro_about' %}">
                            Cadastre-se
                        </a>
                    </p>

                </form>

            </div>

        </div>

        <div class="right-side">

            <img
                src="{% static 'img/estudante.png' %}"
                alt="Estudante"
            >

        </div>

    </div>

</body>
</html>